.properties-panel{
    display:flex;
    flex-direction: column;
    width: 80%;
    background-color:#CBDCEB;
    margin-right: 2px;
    padding: 2px;
    border: 2px solid black;
    border-radius: 5px;
    height: 50px;
    overflow-y: hidden;
    transition: height 2s ease; 
}
.properties-panel:hover {
    height: auto; 
  }
.proptype{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 4px double gray;
    width: 100%;
}

.proptype label {
    margin-right: 10px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    line-height:1rem;
    font-weight: 600;
    text-align: right;
    width: 30%;
    white-space: nowrap;
}
  .proptype input {
    flex: 1; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    line-height:1.0rem;
    margin-left:2px ;
    width:40% ;
    color: black;
  }
  
  .proptype input, .proptype label {
    white-space: nowrap; 
    display: inline-block;
  }

