* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  
.gallery-mainpage{
    width: 100%;
    color: black;
    padding: 5px;
    margin: 5px;
    background-color: beige;
    border: 5px double black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px; 

}
.pcpheader{
    width: 100%;
    background-color: #ffffff;
    height: 40px;
    border: 2px solid #e55b1c;
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    border-radius: 10px 10px 0px 0px;
    text-align: left;
    padding: 2px;

}

.pcppheader{
    width: 100%;
    background-color: #ffffff;
    height: 40px;
    border: 5px double gray;
    font-weight: 700;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    padding: 2px;

}
.buttonsdiv{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 2fr)); 

}

.buttonsdiv .add-row-button{
    display: grid;
    justify-content: flex-start;
    
}


.buttonsdiv .create-button{
    display: grid;
    justify-content: flex-end;
    
}
.buttonsdiv  button{
    background-color: gray;
    color: white;
    padding: 5px;
    margin-top: 10px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    border-radius: 20px;
    border:2px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: 600;
    }  
    
    .buttonsdiv button:hover{
    background-color: #3ded97;
    color: #000000;
    }
    
  .main-container {
    display: flex;
    flex-direction: column;

    width: 100%;

  }


.gallery-container{

width:100%;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(70%, 1fr)); 
padding: 5px;
background-color: bisque;
border-radius:  0px 0px 10px 10px;
border: 2px solid #e55b1c;
color: black;
font-family: 'Courier New', Courier, monospace;
font-size: 1.2rem;
font-weight: 600;
max-height: 65vh;
overflow-y: auto;
justify-content: center;
align-items: center;

}

.gallery-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
    height: auto;
    border-bottom: 4px double gray;
    width: 100%;

}

.gallery-row select{
    flex: 0 0 15%;  
    height: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    padding-left: 5px;
    margin-left: 5px;


}
.pgcactprops
{
    flex: 0 0 30%;  
    padding-left: 5px;
    margin-left: 5px;
}

.pgcactpreview
{
    flex: 0 0 30%;  
    width: 100%;
    padding-left: 5px;
    margin-left: 5px;
    width: 100%;
}

.pgcactdelete{
    flex: 0 0 10%; 
    display: flex; 
    width: 100px;
    justify-content: right;
    align-items: center;
    
}

.pgcactdelete button{
background-image: url('../images/delete.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 50px;
height: 50px;
cursor: pointer;
border-radius: 100px;
margin-left: 40px;
}

.previewpage-container{
    width: 30%;
    grid-gap: 10px; 
    
}

.previewpage{
    background-color: #f5f3ee;
    border: 5px double gray;
    justify-content: center;
    align-items: center;
    text-align: left;
    max-height: 65vh;
    overflow-y: scroll;
}



@media (max-width: 768px) {

.gallery-mainpage{
    display: flex;
    flex-direction: column;
}

.gallery-row{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.previewpage-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.previewpage{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;   
}

}

