.preview-page {
    display: flex;
    justify-content: center; 
    padding: 10px; 
  }
  
  .preview-container {
    width: 90%; 
    margin: 0 auto; 
  
  }
  
  .preview-container > div {
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }
  
  .preview-container.submitpreview{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .submitpreview button{
    
    background-color: #90EE90;
    color: black;
    padding: 5px;
    margin-top: 10px;
    width:70%;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    border:2px solid #D3D3D3;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 15%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    }  
    
    .submitpreview button:disabled{
      background-color:#D3D3D3;
      cursor: not-allowed;
    }

  @media (max-width: 768px) {
    .preview-page {
      display: flex;
      justify-content: center; 
      padding: 10px; 
      width: 100%;
    }
    
    .preview-container {
      width: 90%; 
      margin: 0 auto; 
    }
    
    .preview-container > div {
      margin-bottom: 20px; 
      display: flex;
      flex-direction: column;
      align-items: flex-start; 
    }
  }
  