.input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1%;
    padding-top: 3px;
  }

  .displyname{
    display: grid;
    grid-template-columns: 90% 5%;
    gap: 10px;
    margin: 0px;
    padding: 0px;
    align-items: center; 
  }

  .displynamelable {
    display: flex;
    align-items: center;
    min-height: 40px;
    max-height: none; 
    overflow: visible; 
    word-wrap: break-word; 
  }

  
.asterisk{
  display: flex;
  color: red;
  height: 40px;
  align-items: center;
  justify-content: center; 
  font-size: 30px;

}

.input-container-cb{
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  width: 100%;

  }
.valueclass label{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 1.2em;
 font-weight: 600;
 color: black;
 padding-bottom: 5px;
 width: 90%;

}

.valueclass{
display: flex;
flex-direction: row;
width: 100%;
}

  
.valueclassml textarea{
    font-family:'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-weight: 500;
    color: black;
    background-color: white;
    border: 1px solid gray;
    }


.valueclass input{
    font-family:'Times New Roman', Times, serif;
    background-color: white;
    font-size: 1.2em;
    font-weight: 500;
    color: black;
    height: 30px;
    width: 100%;
    border: 1px solid gray;
}

.valueclass select{
  flex-grow: 1;
  width: 100%;
  font-family:'Times New Roman', Times, serif;
  background-color: white;
  font-size: 1.2em;
  font-weight: 500;
  color: black;
  height: 30px;
  
}

.valueclassrb{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 10px; 
  background-color: white;
  border: 1px solid gray;

}
.radiocheck input{
  height: 20px;
  width: 20px;
  margin: 10px;
  background-color: white;
  border: 1px solid gray;
}

.radiocheck {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.valueclassss{
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid gray;
}

.startlabel {
  cursor: pointer;
  font-size: 40px;
  font-weight: bolder;
  color: #818589;
  margin-right: 3px;
  padding: 5px;
  
  
  }

  
.startlabel.selected  {
  color: #ffbf00;
}

.startlabel:hover {
  color: #ffbf00;
}

.search-select-wrapper {
 display: flex;
 flex-direction: column;
  width: 100%;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.search-select-wrapper input[type="text"] {
  width: 100%;
  background-color: white;
  border-left: 1px  solid gray;
  border-right: 1px  solid gray;
  border-top: 0px  solid gray;
  border-bottom: 0px  solid gray;
  padding: 8px;
  font-size: 14px;
  box-sizing: border-box;
  word-wrap: break-word;
  height: auto;
}

.search-select-wrapper select {
  width: 100%;
  background-color: white;
  border: 1px solid gray;
  padding: 8px;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  max-height: 300px ;
}

.remove-item
{
  
color: red;
font-size: 18px;
cursor: pointer;
margin: 2px;
font-weight:700;
font-family: Arial, sans-serif;
transition: transform 0.3s ease;
}


.selecteditems{
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  background-color: white;
  border: 1px solid gray;
  transition: none;
  transition: transform 0.3s ease;
  border-left: 1px  solid gray;
  border-right: 1px  solid gray;
  border-top: 1px  solid gray;
  border-bottom: 0px  solid gray;
}

.selected-item {
  margin: 2px;
  border-radius: 10px;
  padding: 2px;
  transition: all 0.3s ease-in-out;

}

.multiselectoptions{
  display: flex;
  background-color: white;
  border: 1px solid gray;
  flex-direction: column;
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  word-break: break-all;
  transition: all 0.3s ease-in-out;
}

.multiselectoptions label{
  display: flex;
  margin: 5px;
  font-family:'Times New Roman', Times, serif;
  font-size: 1.2em;
  cursor: pointer;
  width: 80%;
}


.multiselectoptions label{
  display: flex;
  margin: 3px;
  font-family:'Times New Roman', Times, serif;
  font-size: 1.2em;
  cursor: pointer;
  width: 80%;
}


.multiselectoptions label:hover{
  background-color: #D3D3D3;
}

.column-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  cursor: pointer; 
}


.column-layout select{
  background-color: white;
  width: 100%;
  height: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  cursor: pointer; 
  
}

.column-layout-main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.column-layout-button {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%; 
 
}

.column-layout-button button{
  height: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;          
  margin-left:20px;
  cursor: pointer; 
}

@media (max-width: 768px) {

  .column-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  
  .column-layout-button button{
    height: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    width: 80%;
    display: flex;   
    margin-left: 15px;   
    cursor: pointer;    
  }
  
}