html, body {
  height: 100%;
  margin: 0;
}

.myapps-container {
  background-color: #f5f3ee;
  border: 5px double gray;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
  height: 75vh;
  max-height: 90%;
  border-radius: 10px;
  overflow-y: auto;
  transition: none;
  margin: 0 auto; 
  overflow: hidden;
  top:120px;
  position: relative;
}

.myapps-component-container{
  display: flex;
  flex-direction: column;
  width: 100%;

}
.myapps-component-container button{
  display: flex;
  flex-direction: column;
  width: 40px;
  align-items: center;
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  background-color: gray;
  color:white;
  font-weight: bolder;
}

.myapps-component-container button:hover{
    background-color: #e55b1c;
  }

.myapps-container.fullscreen {
  width: 99% !important;
  height: 85vh !important;
  top: 100px;
  left: 0px;
  margin: 10px;
  padding: 5px;
}



.myapps-header {
  width: 100%;
  height: 70px;
  background-color: #e55b1c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  border-bottom: 3px solid black;
  z-index: 2;
  padding: 10px;
}

.myapps-cardcontainer {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 50px; 
  padding: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.myapps-card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  overflow: hidden;
}

.myapps-title {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 50px; 
  background-color: #cdcdcd;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.myapps-image {
  border-radius: 5px;
  width: 100%;
  height: 100%; 
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.myapps-image img {
  width: 100%; 
  height: 100%; 
  object-fit:cover; 
  object-position: center;
  margin: 0;
}

.myapps-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-top: 2px solid #ddd;
  margin-top: auto; 
}

.myapps_start_button {
  width: 80%;
  padding: 12px 20px;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  background-color: gray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.myapps_start_button:hover {
  background-color: #e55b1c;
}



@media (max-width: 768px) {



  .myapps-container {
   top:120px;
    position: relative;
    overflow-y: auto;
  }

  .myapps-container.fullscreen {
    width: 97% !important;
    height: 85vh !important;
    top: 120px;
    left: 0;
    transform: translate(0, 0);
    margin: 10px;
    padding: 10px;

  }

  .myapps-header {
    font-size: 1.2em;
    padding: 5px;
   }
  
  .myapps-card {
    width: 200px;
    height: 200px;
   }
  
  .myapps-title {
    padding: 5px;
    font-size: 15px;
    
  }
    
  .myapps-image img {
    width: 100%; 
    height: 100%; 
    object-fit:contain; 
    object-position: center;
    margin: 0;
  }


  

  
}
@media (max-width: 460px) {
  .myapps-container.fullscreen {
    top:120px;
    position: relative;
    overflow-y: auto;
  }

  .myapps-container {
    position: fixed;
    background-color: #f5f3ee;
    border: 10px double black;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    width: 70%;
    height: 70%;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow-y: auto;
   
  }
  .myapps-card {
    height: auto; 
  }
}