.input-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1%;
  }

.input-container label{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 1.2em;
 font-weight: 600;
 color: black;
 padding-bottom: 5px;
 width: 90%;
}

.valueclass{
display: flex;
flex-direction: row;
}
.valueclass input{
    font-family:'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-weight: 500;
    color: black;
    height: 30px;
    width: 90%;
}
.asterisk {
    color: red;
    margin-left: 5px;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .input-error {
    border-color: red;
  }
  
  .error-msg {
    color: red;
    font-size: 12px;
  }
  